// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

/* Form */

form {
  margin: -1em 0 2em 0;
}

form:after {
  content: '';
  display: block;
  clear: both;
  height: 1px;
}

form .field {
  position: relative;
  float: left;
  margin: 0 0 1.3em 0;
  vertical-align: top;
  width: 100%;
}

form .half {
  width: calc(50% + 1em) !important;
  padding-left: 2em;
}

form .half.first {
  width: calc(50% - 1em) !important;
  padding-left: 0;
}

form :last-child {
  margin-bottom: 0;
}

form .half:nth-last-child(2) {
  margin-bottom: 0;
}

form .actions {
  position: relative;
  clear: both;
  padding-top: 1em;
}

@media screen and (max-width: 480px) {

  form .half {
    width: 100% !important;
    padding-left: 0;
  }

  form .half.first {
    width: 100% !important;
    padding-left: 0;
  }

  form .half:nth-last-child(2) {
    margin: 0 0 1.3em 0;
  }

}

label {
  display: block;
  font-size: 0.9em;
  font-weight: 900;
  margin: 0 0 1em 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: solid 1px #c9c9c9;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0;
  text-decoration: none;
  width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
  border-bottom-color: #f2849e;
  box-shadow: inset 0 -1px 0 0 #f2849e;
}

.select-wrapper {
  text-decoration: none;
  display: block;
  position: relative;
}

.select-wrapper:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.select-wrapper:before {
  color: #c9c9c9;
  content: '\f078';
  display: block;
  height: 3em;
  line-height: 3em;
  pointer-events: none;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 3em;
}

.select-wrapper select::-ms-expand {
  display: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  height: 3em;
}

textarea {
  padding: 0;
  min-height: 3.75em;
}

input[type="checkbox"],
input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2em;
  opacity: 0;
  width: 1em;
  z-index: -1;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
  text-decoration: none;
  color: #585858;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  font-weight: 300;
  padding-left: 2.55em;
  padding-right: 0.75em;
  position: relative;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
  border-radius: 4px;
  border: solid 1px #c9c9c9;
  content: '';
  display: inline-block;
  height: 1.8em;
  left: 0;
  line-height: 1.725em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1.8em;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  background: #585858;
  border-color: #585858;
  color: #ffffff;
  content: '\f00c';
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
  border-color: #f2849e;
  box-shadow: 0 0 0 1px #f2849e;
}

input[type="checkbox"] + label:before {
  border-radius: 4px;
}

input[type="radio"] + label:before {
  border-radius: 100%;
}


